.card {
    width: 12rem;
    height: 14rem;
    border-radius: 0.5rem;
    background-color: #3F3F3F;
}

.field-card {
    width: 9rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: #3F3F3F;
    vertical-align: middle;
    display: table-cell;
}

.field-card input {
    background-color: transparent;
    border: none;
    margin-top: auto;
    width: 100%;
    height: 70%;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
}

.field-card input:focus {
    outline: none;
}

.card-header {
    background-color: #e9e9e9;
    padding: 0.4rem;
    overflow-x: hide;
    height: 1.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    color: #202020;
    text-align: left;
}

.card-header p {
    margin: 0;
    pointer-events: 'none';
}

.card-display {
    background-color: #202020;
    position: relative;
    top: 0.5rem;
    width: 88%;
    height: 6rem;
    margin: auto;
}

.source-selector {
    position: relative;
    margin-top: 3rem;
    margin-left: 0.6rem;
    width: 88%;
    background-color: #3F3F3F;
    outline: none;
    color: white;
}

.output-card {
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #3F3F3F;
    z-index: -100;
}

.output-card img {
    position: relative;
    left: 20px;
    top: 17px
}

.knob-pannel {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.selected {
    border: 1px solid #e9e9e9;
}

.lfo-frequency-input {
    background-color: transparent;
    border: none;
    width: 50%;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
}

.lfo-control-pannel {
    padding-top: 0.7em;
    width: 88%;
    height: 6rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.lfo-mode-button {
    width: 4rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.lfo-mode-button img {
    display: block;
    width: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 10%;
}

.lfo-mode-button div {
    width: 50%;
    height: 2rem;
    vertical-align: middle;
    position: relative;
    border-radius: 0.5rem;
}