.output-node{
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #3F3F3F;
    right: 5%;
    top: 50%;
}

.output-node img {
    position:relative;
    left: 20px;
    top: 17px
}