.menu{
    margin-left: 1rem;
    position: absolute;
    top: 3rem;
}

.menu-button{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: #e9e9e9;
    margin: 1rem;
}

.menu-button:hover{
    background-color:#a7a7a7
}

.nodeIC {
    width: 2rem;
    position: relative;
    top: 0.7rem;
    left: 0.5rem;
    height: 1.8rem;
}

.plusIC {
    width: 1.8rem;
    position: relative;
    top: 0.6rem;
    left: 0.5rem;
}

.menu-container{
    overflow-y: hidden;
    height: 0;
    width: 5rem;
    transition: height ease-in-out 0.3s;
}

.menu-container-expanded{
    height: 25rem;
    transition: height ease-in-out 0.3s;
}